body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: var(--base-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 8px;
    background-color: var(--ant-primary-3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--light-disable-25);
    border-radius: 99px;
  }

  /* width */

  --screen-middle: 834px;
  --screen-phone: 486px;

  /* decor */
  --border-style-base: 1px solid #d9d9d9;
  --border-radius-xs: 2px;
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-circle: 50%;
  --box-shadow-dark: 0 2px 0 0 rgba(0, 0, 0, 0.04);
  --box-shadow-light: 0 2px 0 0 rgba(0, 0, 0, 0.02);
  --box-shadow-custom-modal: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

  /* fonts */
  --line-height-base: 130%;
  --font-size-s: 12px;
  --font-size-base: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-big-title: 34px;
  --font-size-2xl: 36px;

  /* gaps */
  --padding-primary-btn: 10px 15px;
  --padding-block: 16px 24px;
  --gap-2: 2px;
  --gap-4: 4px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-18: 18px;
  --gap-20: 20px;
  --gap-22: 22px;
  --gap-24: 24px;
  --gap-26: 26px;
  --gap-28: 28px;
  --gap-30: 30px;
  --gap-32: 32px;
  --gap-34: 34px;
  --gap-36: 36px;
  --gap-40: 40px;
  --gap-42: 42px;
  --gap-44: 44px;
  --gap-46: 46px;
  --gap-48: 48px;

  /* colors */

  /* base color */
  --base-light: #fff;
  --base-dark: #262626;
  --base-gray: #79838b;

  /* primary colors */
  --ant-primary-1: #f9f0ff;
  --ant-primary-2: #efdbff;
  --ant-primary-3: #d3adf7;
  --ant-primary-4: #b37feb;
  --ant-primary-5: #9254de;
  --ant-primary-6: #722ed1;
  --ant-primary-7: #531dab;
  --ant-primary-8: #391085;
  --ant-primary-9: #22075e;
  --ant-primary-10: #120338;

  /* effects */
  --transition: 0.3s ease-in-out;
}

h1 {
  margin: 0;
}

ol,
ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}
