.wrapper {
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: 500;
  font-size: var(--font-size-base);
  text-transform: capitalize;
  color: #b8c5d0;
}

.info {
  font-weight: 500;
  font-size: var(--font-size-l);
  text-transform: capitalize;
  color: var(--base-gray);
}
