.header {
  background-color: var(--ant-primary-3);
  @media (max-width: 486px) {
    padding: 0 var(--gap-10);
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gap-20);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app_name {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: var(--font-size-2xl);
  color: var(--ant-primary-8);
  transition: color var(--transition);
}
